<div style="margin-left:2%;">
	<div class="ui header" style="margin-top:1%;">Ajout/modif story</div>
	{{input placeholder="Code" value=model.copy.code class="ui input"}}<br/><br/>
    {{textarea placeholder="Description" value=model.copy.descriptif class="ui input"}}<br/><br/>


	<select onchange={{action 'setSelectionDev' value="target.value"}} >
		<option disabled selected> -- Choose a developer owner -- </option>
		{{#each model.owner as |dev|}}
			<option value={{dev.id}}>{{dev.identity}}</option>
		{{/each}}
	</select>

    <select onchange={{action 'setSelectionTag' value="target.value"}} >
		<option disabled selected> -- Choose a tag -- </option>
		{{#each model.tags as |tag|}}
			<option value={{tag.id}}>{{tag.title}}</option>
		{{/each}}
	</select>



	<button {{action "save" model}} class="ui positive button"><i class="check icon"></i>Enregistrer</button>
	<a class="ui negative button" href="/projects"><i class="close icon"></i>Annuler</a>
</div>

{{outlet}}